<html>
<head></head>
<body>
  <ul>
    <li><%= link_to 'Index', index_path %></li>
    <li><%= link_to 'taskboard', taskboard_path %></li>
    <li><%= link_to 'contacts', contacts_path %></li>
    <li><%= link_to 'gauges', gauges_path %></li>
    <li><%= link_to 'chartjs', chartjs_path %></li>
    <li><%= link_to 'general', general_path %></li>
    <li><%= link_to 'team', team_path %></li>
    <li><%= link_to 'data', data_path %></li>
  </ul>
</body>
</html>
